.card {
    display: flex;
    gap: 20px
}

.card img{
    height: 350px;
    width: 350px;
    border-radius: 15px ;
}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .header{
    padding-bottom: 25px;
}

.card .header h2{
    padding-bottom: 5px;
}
.card .header p{
    font-style: italic;
}